.slider-container {
    max-width: 1300px; /* Full bredd av viewport */
    max-height: 400px; /* Full höjd av viewport */
    margin: auto; /* Ta bort marginaler */
    padding: 0; /* Ta bort padding */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
 
}

.slick-slide img {
    width: 100%; /* Bilderna ska fylla hela bredden */
    height: 100%; /* Bilderna ska fylla hela höjden */
    object-fit: cover; /* Bevara bildens proportioner och täck hela området */
   
}

.slick-dots {
    bottom: 20px; /* Justera positionen av navigeringsprickarna */
}

.slick-prev, .slick-next {
    z-index: 1; /* Säkerställ att knapparna är synliga ovanpå bilderna */
    color: white; /* Ge navigeringspilarna en synlig färg */
}
@media (max-width: 768px) {
    .slider-container {
        max-width: 600px; /* Full bredd av viewport */
        max-height: auto; /* Full höjd av viewport */
        margin: auto; /* Ta bort marginaler */
        padding: 0; /* Ta bort padding */
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 4px;
     
    }
    .slick-slide img {
        width: 100%; /* Bilderna ska fylla hela bredden */
        height: 100%; /* Bilderna ska fylla hela höjden */
        object-fit:cover; /* Bevara bildens proportioner och täck hela området */
  
    }
    
}