.sidebar {
  min-width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #343a40; /* Mörk bakgrund */
}

.sidebar .nav-link {
  font-size: 1.1rem;
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  background-color: #495057; /* Ljusare när du hovrar */
}

.sidebar h3 {
  color: #fff;
  margin-bottom: 30px;
}

/* Responsiv design för mobila skärmar */
@media (max-width: 992px) {
  .sidebar {
    min-width: 100%;
    height: auto;
  }

  .sidebar .nav-link {
    text-align: center;
    justify-content: center;
  }
}
  
  