
.custom-text{
  font-size: 20px;
}
.custom-cart{
  width: 100%;
  height: auto;
  background-color: bisque;
  border-radius: 6px;

}
.custom-container{
  max-width: 1300px; /* Full bredd av viewport */
  margin: auto;
  padding: 0; /* Ta bort padding */
justify-content: center;
align-items: center;
}
