/* Färger (justera efter behov) */
:root {
  --primary-color: #4E342E; /* Mörkbrun färg */
  --secondary-color: #F5F5DC; /* Ljus beige färg */
  --danger-color: #8B0000; /* Mörkröd färg */
  --text-color: #5A5A5A; /* Mörkgrå färg */
  --background-color: #F5F5F4; /* Ljus bakgrundsfärg */
  --success-color: #3EA830; /* Grön färg */
  --gray-color: #888888; /* Grå färg */
}

/* Gör layouten responsiv och dela i två kolumner */
.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  max-width: 1300px;
}

.checkout-form {
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h5, .checkout-form h5 {
  margin-bottom: 20px;
  color: var(--primary-color); /* Rubriker med mörkbrun färg */
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.total-section {
  margin-top: 20px;
  color: var(--text-color); /* Mörkgrå färg */
}

.checkout-button {
  background-color: var(--success-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.checkout-button:disabled {
  background-color: var(--gray-color); /* Grå färg för inaktiverad knapp */
}

.cancel-button {
  background-color: var(--danger-color); /* Mörkröd färg */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}








  
