/* Checkout.css */

.table th, .table td {
  vertical-align: middle;
}

.price-text {
  font-size: 1.2rem;
  color: #28a745; /* Bootstrap success color */
}

.loading-text {
  text-align: center;
  font-size: 1.5rem;
  color: #007bff;
}

.error-text {
  text-align: center;
  font-size: 1.2rem;
  color: #dc3545;
}

.alert-info {
  background-color: #d1ecf1;
  color: #0c5460;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.card-footer {
  background-color: transparent;
}

.card-footer {
  transition: background-color 0.3s ease;
}

.card-footer .btn:hover {
  background-color: #0056b3;
}

.custom-container {
  width: 80%; /* Täck 80% av skärmens bredd */
  max-width: 1400px; /* Begränsa den maximala bredden om du vill */
  margin: 0 auto; /* Centrera den på sidan */
}






  
