.footer {
    width: 100%; /* Täcker hela bredden */
    position: relative; /* Gör att footern kan placeras relativt */
    bottom: 0; /* Placera den längst ner */
    left: 0; /* Placera den vid vänsterkant */
    background-color: #f8f9fa; /* Färg på footern */
    padding: 20px 0; /* Padding för att ge lite utrymme inuti footern */
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1300px; /* Justera efter din design */
   margin: auto;
    padding: 0; /* Ta bort padding */
 /* Ta bort padding */

}

.footer h5, .footer h6 {
    margin: 10px 0;
}

.social-icons a {
    color: #007bff; /* Blå färg för ikoner */
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0056b3; /* Mörkare blå vid hover */
}

