/* Grundläggande stil för header */
header {
  background-color: white;
  
  padding: 6px 0;
  z-index: 1000;
  position: relative;
}

/* Toppbaren */
.top-bar {
  background-color: #F5F5DC;
  font-size: 14px;
  margin-top:0; /* Avstånd ovanför footer */
  border-bottom: #4E342E 2px solid;
}

.top-bar .phone-number {
  font-weight: bold;
}

.top-bar .icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.top-bar .btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;

  
}

/* Logo-container */
.logo-container {
  padding: 20px 0;
}

.logo-container .brand img {
  max-height: 120px;
}

/* Mobil navigationsbar */
.navbar-toggler {
  border: none;
  background-color: transparent;
  top: -89px; /* Flytta upp ytterligare */
  position: relative; /* Lägg till position om det inte redan finns */
right: -20px;
}

.navbar-toggler-icon {
  width: 30px;
  height: 2px;
  background-color: transparent;
  display: block;
  margin: 10px auto;

}

/* Nav-meny */
.navbar-nav {
  display: flex;
  gap: 20px;
}

.nav-item .nav-link {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}

.nav-item .nav-link:hover {
  color: #f39c12;
}

.collapse.show {
  display: flex !important;
}

/* Sökfält */
.search-wrapper {
  position: relative; /* Allow positioning of search results */
}

.search-bar {
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute; /* Position relative to the wrapper */
  right: 120px; /* Align with the right edge */
  top: 70px; /* Position below the button */
  width: 300px; /* Set a width for the dropdown */
  z-index: 999; /* Ensure it appears above other elements */
}

.search-results {
  max-height: 200px; /* Limit the height */
  overflow-y: auto; /* Add scroll if necessary */
  margin-top: 10px; /* Space between search bar and results */
}

.search-link {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.search-link:hover {
  background-color: #f39c12;
  color: #fff;
}

/* Kundvagnsdropdown */
.cart-wrapper {
  position: relative;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 16px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item-trash {
  color: #ff4d4d;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}

.btn-primary-cart {
  background-color: #f39c12;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-cancel-cart {
  background-color: #ddd;
  color: #333;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Användarmeny */
.user-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.close-menu-btn {
  font-size: 42px;
  background: none;
  border: none;
  color: #333;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 1001; /* Make sure it's above other elements */
}
.mobile-logo {
  position: absolute;
  top: 40px;
  right: 70px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.mobile-logo-img {
  width: 150px; /* Adjust the size of the logo as needed */
}
/* Media Queries */
@media (max-width: 768px) {
  header {
    background-color: #F5F5F4;
    max-height:160px ;
    padding: 6px 0;
    z-index: 1000;
    position: relative;
  }
 
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #F5F5F4;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 10px;
 border-right: #4E342E solid 2px;
}

.navbar-collapse.show {
    transform: translateX(0);
}

/* Align the navigation items below the logo */
.navbar-nav {
    margin-top: 10px;
}
  
    .navbar-nav .nav-link {
        display: block;
        padding: 10px;
        text-align: center;
    }
  
    /* Adjust the navbar-toggler if necessary */
    .navbar-toggler {
        position: relative;
        right: -20px;
        top: -89px;
    }
  }
  .search-bar {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute; /* Position relative to the wrapper */
    right: 0px; /* Align with the right edge */
    top: 75px; /* Position below the button */
    width: 300px; /* Set a width for the dropdown */
    z-index: 999; /* Ensure it appears above other elements */
  }
  
  .search-results {
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scroll if necessary */
    margin-top: 10px; /* Space between search bar and results */
  }
  
  .search-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .search-link:hover {
    background-color: #f39c12;
    color: #fff;
  }

  .top-bar .icons {
      gap: 10px;
  }

  .search-bar input {
      width: 100%;
  }

  .cart-dropdown {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute; /* Position relative to the wrapper */
    right: -20px; /* Align with the right edge */
    top: 50px; /* Position below the button */
    width: 350px; /* Position below the button */
   /* Set a width for the dropdown */
    z-index: 999;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .cart-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .cart-item-details h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .cart-item-actions {
    display: flex;
    align-items: center;
  }
  
  .cart-item-actions button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-trash {
    color: #ff4d4d;
    cursor: pointer;
  }
  
  .cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .btn-primary-cart {
    background-color: #f39c12;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .btn-cancel-cart {
    background-color: #ddd;
    color: #333;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .logo-container {
    padding: 20px 0;
  }
  
  .logo-container .brand img {
    max-height: 60px;
  }

@media (min-width: 769px) {
  .top-bar .icons {
      gap: 20px;
  }

  .logo-container {
      padding: 0;
  }

  .cart-dropdown {
      width: 300px;
  }

  .cart-item {
      flex-direction: row;
      justify-content: space-between;
  }

  .cart-item-details h4 {
      font-size: 16px;
  }

  .cart-item-details p {
      font-size: 14px;
  }

  .cart-total h4 {
      font-size: 18px;
  }
}

@media (min-width: 769px) {
  .navbar-collapse {
      position: static;
      transform: translateX(0);
      height: auto;
      background-color: transparent;
  }

  /* Dölj "X"-knappen i desktop-vy */
  .close-menu-btn {
      display: none;
  }

  /* Dölj mobil-logotypen på större skärmar */
  .mobile-logo {
      display: none;
  }
  .logo-container {
    padding: 20px 0;
  }
  
  .logo-container .brand img {
    max-height: 120px;
  }
  
}







 



  